@import "variables";

.calendar-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  .calendar {
    width: 100%;
    flex: 1;

    .weekdays {
      display: flex;
      height: 100%;

      .weekday {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $grey-400;
        position: relative;

        &:last-child {
          border-right: none;
        }

        .weekday-title {
          padding: $margin-half;
          justify-content: center;
          align-items: center;
          border-bottom: 1px solid $grey-400;
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          font-size: 10px;

          .weekday-day {
            font-size: 16px;
            padding: $margin-quart;
          }
        }

        .hours {
          width: 100%;
          flex: 1;
          display: flex;
          flex-direction: column;
          position: relative;

          .events {
            width: 100%;
            position: absolute;
            height: 100%;
            bottom: 0;
            pointer-events: none;

            .event {
              position: absolute;
              background: $primary;
              width: 80%;
              left: $margin-regular;
              color: white;
              box-shadow: $shadow-heavy;
              border-radius: 5px;
              pointer-events: initial;
              padding: $margin-quart;
              font-size: 10px;
              overflow: hidden;
              cursor: pointer;

              &:hover  {
                background: $primary-hover;
              }
            }
          }

          .hour {
            display: flex;
            flex: 1;
            width: 100%;
            padding: $margin-quart;
            color: $grey;
            border-bottom: 1px solid $grey-300;
            font-size: 10px;
            cursor: pointer;

            span {
              margin-top: -$margin-regular;
            }

            &:hover {
              background: $grey-200;
            }
          }
        }
      }
    }
  }
}

p-dialog {
  width: 400px;
}
