<div class="calendar-header-container">
  <div class="datepicker">
    <p-calendar [ngModel]="selectedDate$ | async" (ngModelChange)="updateSelectedDate($event)"></p-calendar>
  </div>
  <div class="user-dropdown">
    <p-dropdown [options]="users$ | async" optionLabel="name" [ngModel]="selectedUserId$ | async"
                placeholder="Select User..."  [showClear]="true"
                (ngModelChange)="updateSelectedUser($event)"></p-dropdown>
  </div>
  <h3 class="header-title">
    Calendar App
  </h3>
</div>
